Package: com.yourname.notodayeditbtn
Name: NoTodayEditBtn
Version: 1.0
Architecture: iphoneos-arm64e
Description: Hide Edit button in Today View
Maintainer: liutiaoniubi
Author: liutiaoniubi
Section: Tweaks
Depends: mobilesubstrate
